[Desktop Entry]
Name=I Am Poor
Comment=I Am Poor that does nothing
Exec=i-am-poor 
Icon=${SNAP}/meta/gui/i-am-poor.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category